<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.android">

    <uses-permission android:name="com.youjuke.youdecroation.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SupervisorApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.start.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithBackGround">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mobile.android.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <!-- 设计稿尺寸 -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1921" />

        <service android:name=".updatebyrx2.DownLoadService" />
        <!-- 登录页 -->
        <activity
            android:name=".app.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 主页 -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <receiver android:name=".app.login.GlobalReceiver" />
        <!-- 联系业主页 -->
        <activity
            android:name=".app.contact_owner.ContactOwnerActivity"
            android:screenOrientation="portrait" />
        <!-- 设计师查询页 -->
        <activity
            android:name=".app.desinger.DesiginerSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 装修反馈 -->
        <activity
            android:name=".app.decfeedback.DecFeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 未接来电页 -->
        <activity
            android:name=".app.missed_calls.MissedCallsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 建材反馈页 -->
        <activity
            android:name=".app.build_material_feedback.BuildingMaterialsFeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 短信发送页面 -->
        <activity
            android:name=".app.sms_send.SmsSendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 更多功能页面 -->
        <activity
            android:name=".app.more.MoreActivity"
            android:screenOrientation="portrait" />
        <!-- 备忘录列表页 -->
        <activity
            android:name=".app.Memorandum.MemorandumActivity"
            android:screenOrientation="portrait" />
        <!-- 备忘录详情页 -->
        <activity
            android:name=".app.Memorandum.MemoRandumDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 增加，编辑备忘页 -->
        <activity
            android:name=".app.Memorandum.AddEditMemoRandumActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 注册页面 -->
        <activity
            android:name=".app.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 订单页面 -->
        <activity
            android:name=".app.order.OrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 方案选择 -->
        <activity
            android:name=".app.program.ProgramSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 方案选择详情 -->
        <activity
            android:name=".app.program.ProgramDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 产品详情 -->
        <activity
            android:name=".app.program.ProductDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 设置 -->
        <activity
            android:name=".app.set.SetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 绑定手机 -->
        <activity
            android:name=".app.set.SetPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 绑定邮箱 -->
        <activity
            android:name=".app.set.SetMailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 修改登录密码 -->
        <activity
            android:name=".app.set.SetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 关于 -->
        <activity
            android:name=".app.set.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>